public/dn_sync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DN_Service" targetNamespace="http://ec.minregion.ru/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ec.minregion.ru/"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://ec.minregion.ru/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://smev.gosuslugi.ru/rev120315"/>
            <xs:element name="dkRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" ref="q1:Message"
                                    xmlns:q1="http://smev.gosuslugi.ru/rev120315"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="q2:MessageData"
                                    xmlns:q2="http://smev.gosuslugi.ru/rev120315"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" ref="q3:Message"
                                    xmlns:q3="http://smev.gosuslugi.ru/rev120315"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="q4:MessageData"
                                    xmlns:q4="http://smev.gosuslugi.ru/rev120315"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://smev.gosuslugi.ru/rev120315"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://smev.gosuslugi.ru/rev120315">
            <xs:element name="Message" type="tns:MessageType"/>
            <xs:complexType name="MessageType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Sender" type="tns:orgExternalType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Recipient" type="tns:orgExternalType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Originator" type="tns:orgExternalType"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="tns:TypeCodeType"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusType"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExchangeType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="RequestIdRef" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="OriginRequestIdRef" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CaseNumber" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SubMessages" type="tns:ArrayOfSubMessageType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="TestMsg" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="orgExternalType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="TypeCodeType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GSRV"/>
                    <xs:enumeration value="GFNC"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="StatusType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="REQUEST"/>
                    <xs:enumeration value="RESULT"/>
                    <xs:enumeration value="REJECT"/>
                    <xs:enumeration value="INVALID"/>
                    <xs:enumeration value="ACCEPT"/>
                    <xs:enumeration value="PING"/>
                    <xs:enumeration value="PROCESS"/>
                    <xs:enumeration value="NOTIFY"/>
                    <xs:enumeration value="FAILURE"/>
                    <xs:enumeration value="CANCEL"/>
                    <xs:enumeration value="STATE"/>
                    <xs:enumeration value="PACKET"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ArrayOfSubMessageType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SubMessage" type="tns:SubMessageType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubMessageType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="SubRequestNumber" type="xs:string"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Originator" type="tns:orgExternalType"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="RequestIdRef" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="OriginRequestIdRef" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CaseNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MessageData" type="tns:MessageDataType"/>
            <xs:complexType name="MessageDataType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="AppData" type="tns:AppDataType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="AppDocument" type="tns:AppDocumentType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppDataType"/>
            <xs:complexType name="AppDocumentType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="RequestCode" type="xs:string"/>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element minOccurs="0" maxOccurs="1" name="BinaryData" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="DigestValue" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="tns:ReferenceType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReferenceType" mixed="true">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Include" type="tns:Include"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Include">
                <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="href" type="xs:anyURI"/>
                <xs:anyAttribute/>
            </xs:complexType>
            <xs:element name="Header" type="tns:HeaderType"/>
            <xs:complexType name="HeaderType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="NodeId" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="MessageId" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="xs:string"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="MessageClass" type="tns:MessageClassType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="PacketIds" type="tns:ArrayOfPacketIdType"/>
                </xs:sequence>
                <xs:attribute name="actor" type="xs:string"/>
            </xs:complexType>
            <xs:simpleType name="MessageClassType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="REQUEST"/>
                    <xs:enumeration value="RESPONSE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ArrayOfPacketIdType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Id" type="tns:PacketIdType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PacketIdType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="MessageId" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SubRequestNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="dkRequest">
        <wsdl:part name="parameters" element="tns:dkRequest"/>
    </wsdl:message>
    <wsdl:message name="dkRequest_Headers">
        <wsdl:part name="Header" element="q1:Header" xmlns:q1="http://smev.gosuslugi.ru/rev120315"/>
    </wsdl:message>
    <wsdl:message name="dkResponse">
        <wsdl:part name="parameters" element="tns:dkResponse"/>
    </wsdl:message>
    <wsdl:portType name="IDN_Service">
        <wsdl:operation name="GetContract">
            <wsdl:input wsaw:Action="http://ec.minregion.ru/IDN_Service/GetContract" name="dkRequest"
                        message="tns:dkRequest"/>
            <wsdl:output wsaw:Action="http://ec.minregion.ru/IDN_Service/GetContractResponse" name="dkResponse"
                         message="tns:dkResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomBinding_IDN_Service" type="tns:IDN_Service">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetContract">
            <soap:operation soapAction="http://ec.minregion.ru/IDN_Service/GetContract" style="document"/>
            <wsdl:input name="dkRequest">
                <soap:header message="tns:dkRequest_Headers" part="Header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="dkResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DN_Service">
        <wsdl:port name="CustomBinding_IDN_Service" binding="tns:CustomBinding_IDN_Service">
            <soap:address location="http://10.146.140.226/dn_sync"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>